In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder #for our Label encoding
%matplotlib inline

In [26]:
df= pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")

In [27]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [28]:
numerical_df = df.select_dtypes(include=[np.number])
categorical_df = df.select_dtypes(include=['object'])

In [29]:
categorical_df

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

### Nominals: Onehot Encoding

In [30]:
dummy_nominals = ['region',  'response','effective_to_date', 'employment_status','marital_status','gender', 'policy_type']
nominals_converted = pd.get_dummies(categorical_df, columns=dummy_nominals)

In [31]:
nominals_converted

,coverage,education,month,location_code,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,region_central,...,employment_status_retired,employment_status_unemployed,marital_status_divorced,marital_status_married,marital_status_single,gender_f,gender_m,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto
0,basic,college,feb,suburban,corporate l3,offer3,agent,four-door car,medsize,1,...,0,0,0,1,0,0,1,1,0,0
1,basic,college,jan,suburban,personal l3,offer4,call center,four-door car,medsize,0,...,0,1,0,0,1,1,0,0,1,0
2,basic,bachelor,feb,suburban,personal l3,offer3,call center,suv,medsize,0,...,0,0,0,0,1,0,1,0,1,0
3,extended,college,jan,suburban,corporate l3,offer2,branch,four-door car,medsize,0,...,0,0,0,0,1,0,1,1,0,0
4,premium,bachelor,jan,suburban,personal l2,offer1,branch,four-door car,medsize,0,...,0,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,premium,bachelor,jan,suburban,personal l1,offer3,web,luxury car,medsize,1,...,0,1,0,1,0,1,0,0,1,0
10685,basic,college,jan,urban,personal l3,offer2,branch,four-door car,medsize,0,...,0,0,0,1,0,1,0,0,1,0
10686,extended,bachelor,feb,rural,corporate l3,offer1,web,luxury suv,medsize,1,...,0,0,0,1,0,1,0,1,0,0
10687,premium,college,feb,urban,personal l1,offer1,branch,suv,medsize,0,...,0,0,1,0,0,1,0,0,1,0
10688,basic,bachelor,jan,suburban,personal l1,offer4,web,suv,medsize,1,...,0,1,0,0,1,0,1,0,1,0

### Ordinals: Ordinals Encoding

### Hierarchy

In [69]:
numerical_categorical_converted.drop(["month", "location_code", "vehicle_class", "sales_channel"], axis=1, inplace=False)

,education_encoded,coverage_encoded,policy_encoded,renew_offer_type_encoded,vehicle_size_encoded,coverage,education,policy,renew_offer_type,vehicle_size,...,policy_type_personal auto,policy_type_special auto,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,1,0,5,2,1,basic,college,corporate l3,offer3,medsize,...,0,0,4809,48029,61,7,52,0,9,292
1,1,0,2,3,1,basic,college,personal l3,offer4,medsize,...,1,0,2228,92260,64,3,26,0,1,744
2,2,0,2,2,1,basic,bachelor,personal l3,offer3,medsize,...,1,0,14947,22139,100,34,31,0,2,480
3,1,1,5,1,1,extended,college,corporate l3,offer2,medsize,...,0,0,22332,49078,97,10,3,0,2,484
4,2,2,1,0,1,premium,bachelor,personal l2,offer1,medsize,...,1,0,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,2,0,2,1,premium,bachelor,personal l1,offer3,medsize,...,1,0,15563,61541,253,12,40,0,7,1214
10685,1,0,2,1,1,basic,college,personal l3,offer2,medsize,...,1,0,5259,61146,65,7,68,0,6,273
10686,2,1,5,0,1,extended,bachelor,corporate l3,offer1,medsize,...,0,0,23893,39837,201,11,63,0,2,381
10687,1,2,0,0,1,premium,college,personal l1,offer1,medsize,...,1,0,11971,64195,158,0,27,4,6,618
10688,2,0,0,3,1,basic,bachelor,personal l1,offer4,medsize,...,1,0,6857,68942,101,31,1,0,3,1021

In [32]:
#from sklearn.preprocessing import OrdinalEncoder

#ordinals_converted = ['coverage',  'education','location_code','policy','month','renew_offer_type', 'sales_channel','vehicle_class', 'vehicle_size']
#location_code
#month
#sales_channel
#vehicle class

In [70]:
from sklearn.preprocessing import OrdinalEncoder

education_hierarchy = ['high school or below', 'college', 'bachelor', 'master', 'doctor']
coverage_hierarchy = ['basic', 'extended', 'premium']
policy_hierarchy = ['personal l1', 'personal l2', 'personal l3', 'corporate l1', 'corporate l2','corporate l3', 'special l1', 'special l2', 'special l3']
renew_offer_type_hierarchy = ['offer1', 'offer2', 'offer3', 'offer4']
vehicle_size_hierarchy = ['small', 'medsize', 'large']

In [71]:
encoder1 = OrdinalEncoder(categories=[education_hierarchy])
encoder2 = OrdinalEncoder(categories=[coverage_hierarchy])
encoder3 = OrdinalEncoder(categories=[policy_hierarchy])
encoder4 = OrdinalEncoder(categories=[renew_offer_type_hierarchy])
encoder5 = OrdinalEncoder(categories=[vehicle_size_hierarchy])

In [72]:
ordinal_encoded = pd.DataFrame({
    'education_encoded': encoder1.fit_transform(df[['education']]).flatten().astype(int),
    'coverage_encoded': encoder2.fit_transform(df[['coverage']]).flatten().astype(int),
    'policy_encoded': encoder3.fit_transform(df[['policy']]).flatten().astype(int),
    'renew_offer_type_encoded': encoder4.fit_transform(df[['renew_offer_type']]).flatten().astype(int),
    'vehicle_size_encoded': encoder5.fit_transform(df[['vehicle_size']]).flatten().astype(int)
})

In [73]:
ordinal_encoded

,education_encoded,coverage_encoded,policy_encoded,renew_offer_type_encoded,vehicle_size_encoded
0,1,0,5,2,1
1,1,0,2,3,1
2,2,0,2,2,1
3,1,1,5,1,1
4,2,2,1,0,1
...,...,...,...,...,...
10684,2,2,0,2,1
10685,1,0,2,1,1
10686,2,1,5,0,1
10687,1,2,0,0,1
10688,2,0,0,3,1

In [74]:
categorical_converted = pd.concat([ordinal_encoded,nominals_converted], axis=1)

In [75]:
numerical_categorical_converted = pd.concat([categorical_converted, numerical_df], axis =1)

In [76]:
numerical_categorical_converted

,education_encoded,coverage_encoded,policy_encoded,renew_offer_type_encoded,vehicle_size_encoded,coverage,education,month,location_code,policy,...,policy_type_personal auto,policy_type_special auto,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,1,0,5,2,1,basic,college,feb,suburban,corporate l3,...,0,0,4809,48029,61,7,52,0,9,292
1,1,0,2,3,1,basic,college,jan,suburban,personal l3,...,1,0,2228,92260,64,3,26,0,1,744
2,2,0,2,2,1,basic,bachelor,feb,suburban,personal l3,...,1,0,14947,22139,100,34,31,0,2,480
3,1,1,5,1,1,extended,college,jan,suburban,corporate l3,...,0,0,22332,49078,97,10,3,0,2,484
4,2,2,1,0,1,premium,bachelor,jan,suburban,personal l2,...,1,0,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,2,0,2,1,premium,bachelor,jan,suburban,personal l1,...,1,0,15563,61541,253,12,40,0,7,1214
10685,1,0,2,1,1,basic,college,jan,urban,personal l3,...,1,0,5259,61146,65,7,68,0,6,273
10686,2,1,5,0,1,extended,bachelor,feb,rural,corporate l3,...,0,0,23893,39837,201,11,63,0,2,381
10687,1,2,0,0,1,premium,college,feb,urban,personal l1,...,1,0,11971,64195,158,0,27,4,6,618
10688,2,0,0,3,1,basic,bachelor,jan,suburban,personal l1,...,1,0,6857,68942,101,31,1,0,3,1021

In [77]:
numerical_categorical_converted.drop(["month", "location_code","customer_lifetime_value", "income","coverage","education","policy", "vehicle_size", "vehicle_class","renew_offer_type", "sales_channel"], axis=1, inplace=False)

,education_encoded,coverage_encoded,policy_encoded,renew_offer_type_encoded,vehicle_size_encoded,region_central,region_east,region_north west,region_west region,response_no,...,gender_m,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,1,0,5,2,1,1,0,0,0,1,...,1,1,0,0,61,7,52,0,9,292
1,1,0,2,3,1,0,0,0,1,1,...,0,0,1,0,64,3,26,0,1,744
2,2,0,2,2,1,0,1,0,0,1,...,1,0,1,0,100,34,31,0,2,480
3,1,1,5,1,1,0,0,1,0,0,...,1,1,0,0,97,10,3,0,2,484
4,2,2,1,0,1,0,0,1,0,1,...,0,0,1,0,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,2,0,2,1,1,0,0,0,1,...,0,0,1,0,253,12,40,0,7,1214
10685,1,0,2,1,1,0,0,1,0,1,...,0,0,1,0,65,7,68,0,6,273
10686,2,1,5,0,1,1,0,0,0,1,...,0,1,0,0,201,11,63,0,2,381
10687,1,2,0,0,1,0,0,0,1,1,...,0,0,1,0,158,0,27,4,6,618
10688,2,0,0,3,1,1,0,0,0,1,...,1,0,1,0,101,31,1,0,3,1021

In [78]:
numerical_categorical_converted.dtypes

education_encoded                int32
coverage_encoded                 int32
policy_encoded                   int32
renew_offer_type_encoded         int32
vehicle_size_encoded             int32
                                 ...
months_since_last_claim          int64
months_since_policy_inception    int64
number_of_open_complaints        int64
number_of_policies               int64
total_claim_amount               int64
Length: 100, dtype: object

### To ask:

encoder1 = OrdinalEncoder(categories=[education_hierarchy])
scaler_education_fit = encoder1.fit(df["education"])
scaler_education_transform =encoder1.transform(df["education"])

### Train - Test Split

In [80]:
numerical_categorical_converted.columns.tolist()

['education_encoded',
 'coverage_encoded',
 'policy_encoded',
 'renew_offer_type_encoded',
 'vehicle_size_encoded',
 'coverage',
 'education',
 'month',
 'location_code',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'region_central',
 'region_east',
 'region_north west',
 'region_west region',
 'response_no',
 'response_yes',
 'effective_to_date_1/1/11',
 'effective_to_date_1/10/11',
 'effective_to_date_1/11/11',
 'effective_to_date_1/12/11',
 'effective_to_date_1/13/11',
 'effective_to_date_1/14/11',
 'effective_to_date_1/15/11',
 'effective_to_date_1/16/11',
 'effective_to_date_1/17/11',
 'effective_to_date_1/18/11',
 'effective_to_date_1/19/11',
 'effective_to_date_1/2/11',
 'effective_to_date_1/20/11',
 'effective_to_date_1/21/11',
 'effective_to_date_1/22/11',
 'effective_to_date_1/23/11',
 'effective_to_date_1/24/11',
 'effective_to_date_1/25/11',
 'effective_to_date_1/26/11',
 'effective_to_date_1/27/11',
 'effective_to_date_1/28/11',
 'effective_to_date_1/29/11',
 'effective_to_date_1/3/11',
 'effective_to_date_1/30/11',
 'effective_to_date_1/31/11',
 'effective_to_date_1/4/11',
 'effective_to_date_1/5/11',
 'effective_to_date_1/6/11',
 'effective_to_date_1/7/11',
 'effective_to_date_1/8/11',
 'effective_to_date_1/9/11',
 'effective_to_date_2/1/11',
 'effective_to_date_2/10/11',
 'effective_to_date_2/11/11',
 'effective_to_date_2/12/11',
 'effective_to_date_2/13/11',
 'effective_to_date_2/14/11',
 'effective_to_date_2/15/11',
 'effective_to_date_2/16/11',
 'effective_to_date_2/17/11',
 'effective_to_date_2/18/11',
 'effective_to_date_2/19/11',
 'effective_to_date_2/2/11',
 'effective_to_date_2/20/11',
 'effective_to_date_2/21/11',
 'effective_to_date_2/22/11',
 'effective_to_date_2/23/11',
 'effective_to_date_2/24/11',
 'effective_to_date_2/25/11',
 'effective_to_date_2/26/11',
 'effective_to_date_2/27/11',
 'effective_to_date_2/28/11',
 'effective_to_date_2/3/11',
 'effective_to_date_2/4/11',
 'effective_to_date_2/5/11',
 'effective_to_date_2/6/11',
 'effective_to_date_2/7/11',
 'effective_to_date_2/8/11',
 'effective_to_date_2/9/11',
 'employment_status_disabled',
 'employment_status_employed',
 'employment_status_medical leave',
 'employment_status_retired',
 'employment_status_unemployed',
 'marital_status_divorced',
 'marital_status_married',
 'marital_status_single',
 'gender_f',
 'gender_m',
 'policy_type_corporate auto',
 'policy_type_personal auto',
 'policy_type_special auto',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

In [58]:
X=numerical_categorical_converted[['education_encoded',
 'coverage_encoded',
 'policy_encoded',
 'renew_offer_type_encoded',
 'vehicle_size_encoded',
 'coverage',
 'education',
 'month',
 'location_code',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'region_central',
 'region_east',
 'region_north west',
 'region_west region',
 'response_no',
 'response_yes',
 'effective_to_date_1/1/11',
 'effective_to_date_1/10/11',
 'effective_to_date_1/11/11',
 'effective_to_date_1/12/11',
 'effective_to_date_1/13/11',
 'effective_to_date_1/14/11',
 'effective_to_date_1/15/11',
 'effective_to_date_1/16/11',
 'effective_to_date_1/17/11',
 'effective_to_date_1/18/11',
 'effective_to_date_1/19/11',
 'effective_to_date_1/2/11',
 'effective_to_date_1/20/11',
 'effective_to_date_1/21/11',
 'effective_to_date_1/22/11',
 'effective_to_date_1/23/11',
 'effective_to_date_1/24/11',
 'effective_to_date_1/25/11',
 'effective_to_date_1/26/11',
 'effective_to_date_1/27/11',
 'effective_to_date_1/28/11',
 'effective_to_date_1/29/11',
 'effective_to_date_1/3/11',
 'effective_to_date_1/30/11',
 'effective_to_date_1/31/11',
 'effective_to_date_1/4/11',
 'effective_to_date_1/5/11',
 'effective_to_date_1/6/11',
 'effective_to_date_1/7/11',
 'effective_to_date_1/8/11',
 'effective_to_date_1/9/11',
 'effective_to_date_2/1/11',
 'effective_to_date_2/10/11',
 'effective_to_date_2/11/11',
 'effective_to_date_2/12/11',
 'effective_to_date_2/13/11',
 'effective_to_date_2/14/11',
 'effective_to_date_2/15/11',
 'effective_to_date_2/16/11',
 'effective_to_date_2/17/11',
 'effective_to_date_2/18/11',
 'effective_to_date_2/19/11',
 'effective_to_date_2/2/11',
 'effective_to_date_2/20/11',
 'effective_to_date_2/21/11',
 'effective_to_date_2/22/11',
 'effective_to_date_2/23/11',
 'effective_to_date_2/24/11',
 'effective_to_date_2/25/11',
 'effective_to_date_2/26/11',
 'effective_to_date_2/27/11',
 'effective_to_date_2/28/11',
 'effective_to_date_2/3/11',
 'effective_to_date_2/4/11',
 'effective_to_date_2/5/11',
 'effective_to_date_2/6/11',
 'effective_to_date_2/7/11',
 'effective_to_date_2/8/11',
 'effective_to_date_2/9/11',
 'employment_status_disabled',
 'employment_status_employed',
 'employment_status_medical leave',
 'employment_status_retired',
 'employment_status_unemployed',
 'marital_status_divorced',
 'marital_status_married',
 'marital_status_single',
 'gender_f',
 'gender_m',
 'policy_type_corporate auto',
 'policy_type_personal auto',
 'policy_type_special auto',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']]








y=numerical_categorical_converted['total_claim_amount']

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X,y, test_size=0.3, random_state=42)

### Scaler fit

In [63]:
from sklearn.preprocessing import PowerTransformer

In [64]:
#scaler = PowerTransformer()
#scaler_fit= scaler.fit(X_train)
#scaler_transform_train= scaler.transform(X_train)

In [65]:
#scaler_transform_train

In [66]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression ()
model = lm.fit(X_train, y_train)

ValueError: could not convert string to float: 'extended'